body {
    @media (max-width: 992px) {
        margin-bottom: 150px;
    }
}

a{
    cursor: pointer;
    &:hover{
        color:#ACD9EE !important;
    }
    img{
        &:hover{
            opacity: 0.6;
        }
    }
}
.logo-head{
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        max-width: 30%;
    }
}
.number-coin{
    border: 0px solid #ACD9EE;
    cursor: unset;
    @media (max-width: 768px) {
        display: none;
    }
}
.seclecBox{
    img{
        
    }
}
.wrap-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    .description{
        font-weight: 400;
        font-size: 18px;
        line-height: 134%;
        letter-spacing: -0.507564px;
        color: #FFFFFF;
    }
    a{
        font-weight: 400;
        font-size: 18px;
        line-height: 134%;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
        text-decoration-line: underline;
        color: #FFFFFF;
        span{
            display: block;
            margin-left: 8px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}
.brach{
    position: relative;
    min-height: 300px;
    img{
        width: 80%;
    }
    .slick-prev{
        left: -10px;
    }
    .slick-next{
        right: -10px;
    }
    .slick-prev, .slick-next{
        z-index: 1;
    }
    .slick-list{
        z-index: 0;
    }
    .react-tabs{
        width: 100%;
    }
    .react-tabs__tab--selected{
        background: none;
        border: 0px solid #fff;
        border-color: unset;
        color: #fff;
    }
    .react-tabs__tab-list{
        border: 0px solid #fff;
    }
    .react-tabs__tab-panel{
        color: #fff;
    }
    .slick-slider {
        width: 100%;
        .slick-slide{
            height: auto;
            .box-voucher-type{
                max-width: 85%;
                margin: 0 auto;
                height: 8rem;
                display: flex !important;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover{
                    opacity: 0.5;
                }
                @media (max-width: 768px) {
                    height: 6rem;
                }
            }
            .active{
                border: 3px solid #ACD9EE;
                background: rgba(172, 217, 238, 0.2);
            }
            .box-voucher-type{
                &:not(.active) {
                    cursor: not-allowed;
                }
            }
        }
    }
}
.send_success{
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    .text-title{
        font-weight: 600;
font-size: 30px;
line-height: 134%;
text-align: center;
letter-spacing: -0.5px;
@media (max-width: 768px) {
    font-size: 24px;
}
    }
    .text-description{
        font-weight: 600;
font-size: 20px;
line-height: 28px;
margin-top: 30px;
@media (max-width: 768px) {
    font-size: 18px;
}
    }
}
.button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 2px;
padding: 14px 0;
cursor: pointer;
&:hover{
    opacity: 0.8;
}
&.button-outline{
    border: 1.5px solid #ACD9EE;
    color: #ACD9EE;
    font-weight: 700;
font-size: 16px;
line-height: 140%;
}
}

.big-title-01{
    font-weight: 600;
font-size: 32px;
line-height: 130%;
letter-spacing: -1px;
@media (max-width: 768px) {
    font-size: 26px;
}
}

.heading-04{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}
.white-page{
    .line-height-text div{
        margin-bottom: 20px;
    }
    margin-bottom: 50px;
}